.main-dashboard-div{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}